<% if controller.controller_name == "games" %>
  <%= render "recruitments/write_recruitment" %>
<% end %>
<div class="review_pagenation_top" id="upside">
  <%= paginate @recruitments %>
  <%= page_entries_info @recruitments %>
</div>
<ul class="index_recruitments">
  <%= render @recruitments %>
</ul>
<div class="review_pagenation_bottom">
  <%= paginate @recruitments %>
  <%= page_entries_info @recruitments %>
</div>
