<div class="profile clearfix">
  <div class="image">
    <%= render "users/profile_image", user: @user, size: "200x200" %>
  </div>
  <div class="introduction">
    <h3 class="user_name"><%= @user.name %></h3>
    <div class="self_introduction_second_wrapper">
      <div class="self_introduction_first_wrapper">
        <%= simple_format(@user.self_introduction, class: "self_introduction") %>
      </div>
    </div>
  </div>
</div>
<div class="user_posts">
  <ul class="nav nav-tabs review_header">
    <li class="nav-item <%= controller.action_name == "show" ? "active" : "inactive" %>">
      <%= link_to "レビュー", user_path(@user), class: "nav-link" %>
    </li>
    <li class="nav-item <%= controller.action_name == "show" ? "inactive" : "active" %>">
      <%= link_to "フレンド募集", recruitment_user_path(@user), class: "nav-link" %>
    </li>
  </ul>
  <% if controller.action_name == "show" %>
    <div class="review_wrapper">
      <%= render "reviews/reviews_index" %>
    </div>
  <% else %>
    <div class="recruitment_wrapper">
      <%= render "recruitments/recruitments_index" %>
    </div>
  <% end %>
</div>
<%= javascript_include_tag "users/show.js" %>
