<div class="index_game_info clearfix">
  <div class="index_jacket">
    <% if game.jacket.attached? %>
      <a href="/games/<%= game.id %>">
        <%= image_tag game.jacket.variant(resize:'140').processed %>
      </a>
    <% end %>
  </div>
  <div class="index_score">
    <p>ユーザースコア</p>
    <div class="badge badge-success average_score">
      <span ><%= game.reviews.average(:score).to_f.round(1) %></span>
    </div>
    <% if logged_in? %>
      <% if game.reviews.find_by(user_id: current_user.id).present? %>
        <div class="user_score_wrapper">
          <p>あなたのスコア</p>
          <div class="badge badge-success user_score">
            <span ><%= game.reviews.find_by(user_id: current_user.id).score %></span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <li class="index_info">
    <h3><%= link_to game.title, game, class: "index_game_title" %></h3>
    <p><%= game.release_date.strftime("%F") %></p>
    <p><%= game.developer %></p>
    <p class=""><%= simple_format(game.summary,class: '') %></p>
  </li>
</div>
