<div class="page" id="upside">
  <%= paginate @games %>
  <%= page_entries_info @games %>
</div>

<ul class="index_games">
  <%= render @games %>
</ul>

<div class="page">
  <%= paginate @games %>
  <%= page_entries_info @games %>
</div>
