<div class="game_info clearfix">
  <div class="jacket">
    <% if @game.jacket.attached? %>
      <div>
        <%= image_tag @game.jacket.variant(resize:'250x320').processed %>
      </div>
    <% end %>
  </div>
  <div class="score">
    <div class="clearfix score_inner_top">
      <p>ユーザースコア</p>
      <div class="badge badge-success average_score">
        <span ><%= @game.reviews.average(:score).to_f.round(1) %></span>
      </div>
    </div>
    <div class="score_inner_bottom">
      <p>あなたのスコア</p>
      <% if logged_in? && @game.reviews.find_by(user_id: current_user.id).present? %>
        <div class="badge badge-success user_score">
          <span ><%= @game.reviews.find_by(user_id: current_user.id).score %></span>
        </div>
      <% else %>
        <p class="no_score">スコアはまだ投稿されていません</p>
        <%= link_to "レビューを書く", new_review_path(game_id: @game.id), id: "new_review_btn", class: "btn btn-primary new_review_1" %>
      <% end %>
    </div>
    
  </div>
  <div class="info">
    <h2 class="title"><%= @game.title %></h2>
    <p class="release_date"><%= @game.release_date.strftime("%F") %></p>
    <p class="developer"><%= @game.developer %></p>
    <p class=""><%= simple_format(@game.summary,class: 'summary') %></p>
    <% if logged_in? && current_user.admin? %>
      <%= link_to "ゲームデータを編集", edit_game_path(@game), id: "edit" %>
      <%= link_to "ゲームデータを削除", @game, method: :delete, class: "delete", id: "delete",
                                        data: { confirm: "本当に削除しますか？" } %>
    <% end %>
  </div>
</div>
<% if @game.youtube_video_id? %>
  <div class="youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @game.youtube_video_id%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
<% end %>
<div class="review_header">
  <% if logged_in? %>
    <% unless @game.reviews.find_by(user_id: current_user.id).present? %>
      <%= link_to "レビューを書く", new_review_path(game_id: @game.id), id: "new_review_btn", class: "btn btn-primary new_review_2" %>
    <% end %>
  <% else %>
    <%= link_to "レビューを書く", new_review_path(game_id: @game.id), id: "new_review_btn", class: "btn btn-primary new_review_2" %>
  <% end %>
</div>
<div class="review_wrapper">
  <div class="review_pagenation_top" id="upside">
    <%= paginate @reviews %>
    <%= page_entries_info @reviews %>
  </div>
  <ul class="index_reviews">
    <%= render @reviews %>
  </ul>
  <div class="review_pagenation_bottom">
    <%= paginate @reviews %>
    <%= page_entries_info @reviews %>
  </div>
</div>
