<% if controller.controller_name == "games" %>
  <%= render "reviews/write_review" %>
<% end %>
<div class="review_pagenation_top" id="upside">
  <%= paginate @reviews %>
  <%= page_entries_info @reviews %>
</div>
<ul class="index_reviews">
  <% @reviews.each_with_index do |review, index| %>
    <% if controller.controller_name == "games" %>
      <%= render "reviews/review", review: review, index: index %>
    <% else %>
      <%= render "reviews/review_alt", review: review, index: index %>
    <% end %>
  <% end %>
</ul>
<div class="review_pagenation_bottom">
  <%= paginate @reviews %>
  <%= page_entries_info @reviews %>
</div>
